{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <header class="header">
        <div class="hero">
            <h3 class="heading">Hasil Prediksi</h3>
            <hr>
            <br>
            <p>Text: {{ translate_text }}</p>
            <p>Hasil Identifikasi: {{ hasil_identifikasi[0] }}</p>
            <p>Akurasi Prediksi: {{ hasil_identifikasi[1] }}%</p>
            <br>
            <a href="/"><button>Coba lagi</button></a>
        </div>
    </header>
</div>

{% endblock %}